.post{
    transition:all 1s ease;
}
.blog-post{
    margin-top:2em;
    margin-bottom:2em;
    position:relative;

}

.blog-post .expand{
    position:absolute;
    bottom:2.5em;
    left:0;
    display:flex;
    justify-content:center ;
    padding:.5em 0;
    width:100%;
    visibility: hidden;
    opacity:.7;
}

.blog-post .expand span{
    padding:.3em 1em;
    border-radius: 8px;
    color:white;
    background-color:var(--blue);
    box-shadow:0 -10px 100px gray;
}

.blog-post .expand span i{
    margin:0 0 0 1em;
}

.blog-post:hover,
.add-question:hover{
    cursor:pointer;
}

.blog-post:hover{
    box-shadow:5px 5px 20px rgb(221, 221, 221);
    /* background-color: rgb(241, 241, 241); */
    transform:scale(1.01);
}

.blog-post:nth-of-type(1){
    margin-top:3em;
}

.blog-post >* {
    /* border:1px solid red; */
    padding:.5em;
}

.blog-post >* , 
.blog-post .buttons{
    display:flex;
    align-items:center;

}

.blog-post .header .profile{
    height:50px;
    width:50px;
}

.blog-post .header .profile img{
    height:100%;
    width:100%;
    border-radius: 50%;
}

.blog-post .body{
    flex-direction: column;
}



.blog-post .body h2{
    text-align: left;
    width:100%;
    margin:.5em 0 .3em;
}
.blog-post .body h2 a{
    color:black;
    text-decoration:none;
}
.blog-post .body h2 a:hover,
.blog-post .body .tags a:hover{
    text-decoration:underline;
}

.blog-post .body .tags{
    width:100%;
    margin-bottom:1em;
   
}

.blog-post .body .tags a{
    text-decoration: none;
}
.blog-post .buttons i {
    -webkit-text-stroke:1px black;
    color:white;
    font-size:1.1rem;
    cursor:pointer;
    /* border:1px solid black; */
    margin-right:.2em;
}

.blog-post .buttons i:not(.fa-thumbs-up) {
    margin-left:1.2em;
}

.blog-post .buttons i.clicked {
    color:red;
    -webkit-text-stroke:0px black;

}
.blog-post .buttons{
    position:relative;
    width:100%;
}



.blog-post .body .text{
    line-height:1.5rem;
    width:95%;
    color:rgb(141, 141, 141);
    padding:1em 0 2em;
    /* border:1px solid black; */
}

.blog-post .header .profile{
    margin-right:1em;
}
.blog-post .header span{
    opacity:.5;
}
.blog-post .header span{
    margin-top:.5em;
}
.blog-post .footer {
    position:absolute;
    width:95%;
    bottom:0;
    background-color:white;
    padding:1em 0;
}

.like,
.dislike{
    /* border:1px solid black; */
}

.like label,
.dislike label,
.like i,
.dislike i{
    pointer-events:none;
}

.blog-post .liked i,
.blog-post .disliked i{
    animation:pop .5s ease;
    -webkit-text-stroke: white;
    color:red;
}


@keyframes pop{
    0%{
        transform:scale(.8);
        color:red;
    }
    50%{
        transform:scale(1.8);
        color:red;
    }
    100%{
        transform:scale(1);
        color:Red;
    }
}




.blog-post .images{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.blog-post .images .image{
    margin:0 .5em;
    /* height:500px; */
    width:200px;
    flex-grow:.5;

}

.blog-post .images .image img{
    width:100%;
}

.blog-post .buttons >div{
    padding:.5em 1em;
    border-radius:5px;
}

.blog-post .buttons >div:hover{
    background-color: rgb(230, 230, 230);
}


.blog-post .buttons .options i.fa-ellipsis-h {
    transform:rotate(90deg);
}
.blog-post .buttons .options ul {
}
.blog-post .buttons .options{
    position:relative;
    right:0;
    margin-left:auto;
}
.blog-post .buttons .options ul{
    position:absolute;
    background-color:var(--post);
    padding:2em 3em;
    box-shadow:4px 4px 50px rgb(216, 216, 216);
    z-index:999;
    border-radius:10px;
    bottom:0;
    /* height:400px; */
    width:400px;
    right:2em;
    /* visibility:hidden; */
    transition:transform 1s ease-out,
                clip-path .3s ease-in-out;
    /* border:1px solid black; */
    clip-path:circle(0% at 100% 100%);

}

.blog-post .buttons .options ul li{
    list-style:none;
    padding:.5em 0;
    text-align:center;
}