:root{
    --primaryColor : black;
    --blue : rgb(0,96,223);
    --body : rgb(240,242,245);
    --post : rgb(255,255,255);
    --border : rgb(214,216,218);
}

html{
    scroll-behavior: smooth;
}

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background-color:var(--body);
    font-family:-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

.wrapper{
    width:90%;
    max-width:1000px;
    margin:0 auto;
}

.body-wrapper{
    margin-top:5em;
}

.news{
    display:none;
}

a{
    text-decoration: none;
}

@media only screen and (min-width : 1000px){

    .body-wrapper{
        max-width:1200px;
        width:100%;
        margin:4em auto 0;
        /* border:1px solid black; */
        display:grid;
        grid-template-columns:2fr 1fr;
    }

    .news{
        display:block;
        grid-column:2/3;
        grid-row:1/3;
        /* border:1px solid red; */
    }
    
}


span.success{
    padding:1em;
    width:100%;
    background-color:rgba(5, 85, 5, 0.301);
    border-radius:5px;
    color:green;
    animation:dissappear 1s ease-in forwards;
}

@keyframes dissappear {
    0%{
        opacity:1;
    }

    100%{
        opacity:0;

    }
}