{% extends 'ku_quora/base.html' %}

{% block title %}
ku-quora
{% endblock %}


{% block content %}
<div class="body-wrapper">

    <!-- <div class="question-wrapper "> -->
        <div class="addQuestion-container">
            <div class="add-question">
                <div class="visible-part">
                    <div class="profile-info">
                        <img src="/media/{{user.profile.profile_pic}}" alt="">
                        <span class='username'>{{user.username}}</span>
                    </div>
                    <div class='text'>What is your question?</div>
                </div>
            </div>
            <div class="add-question-form" data-status = 'collapsed'>
                <form action="{% url 'create_post' %}" enctype="multipart/form-data"  method = 'POST' >
                    {% csrf_token %}
                    
                    <ul class="tips">
                        <h3>Tips on getting good answers quickly</h3>
                        <li>Ask question in a way everyone could understand.</li>
                        <li>Double check grammar and spelling</li>
                        <li>Keep your question short and to the point.</li>
                    </ul>
                    <input type="text" name='title' placeholder = "Title of your question" required>
                    <input type="text" name='tags' placeholder = "Tags for your question to be included in hastags" required>
                    <input type="text" name = 'body' placeholder = "Start your question with 'what,how,when..." required>
                    <label for="images">
                        <i class="fas fa-image"></i>
                    </label>
                    <input type="file" id = "images" name = 'image1' onchange = "previewImage()" multiple>
                    <div class="button">
                        <input type="submit" value = 'Add Question'> 
                    </div>
                </form>
            </div> 
            <div class="previewImageContainer">

            </div>
            <i class="fa fa-angle-double-down animate-direction-down"></i>

        </div>

    <!-- </div> -->
        <div class="news">
            <!-- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi inventore incidunt ducimus vitae laudantium distinctio perspiciatis praesentium commodi cupiditate assumenda id est vel suscipit saepe ea dolore, voluptate autem earum asperiores. Atque expedita animi aut odio, repellat quibusdam laborum esse nemo impedit eaque cumque! Tenetur dolores perferendis saepe dicta natus. -->
        </div>

    <div class="post ">
        {% for post in posts %}
        {% include 'ku_quora/post_template.html' %}
        {% endfor %}
{% endblock %}